.header {
  background: $off-black;
  color: white;
  margin-bottom: $lg-size-2; // 48px
  padding : $m-size 0;
}

//BEM block element modifie
.header__title {
  font-size: $lg-size-1;
  margin: 0;
}

.heander__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $lg-size-0;
  }
}