// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;

// Font-size
$html-size:62.5%;
$m-size: 1.6rem;
$lg-size-0: 2.2rem;
$lg-size-1: 3.2rem;
$lg-size-2: 4.8rem;
$s-size: 1.2rem;

// Font-family
$body-font: Arial, Helvetica, sans-serif;

// Screen
$desktop-breakpoint: 45rem;